asttokens==2.4.1
backcall==0.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
docutils==0.20.1
executing==2.0.1
filetype==1.2.0
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
ipython==8.12.3
jedi==0.19.1
matplotlib-inline==0.1.6
opencv-python==4.9.0.80
parso==0.8.3
pickleshare==0.7.5
pillow==10.2.0
pip==23.3.1
proglog==0.1.10
prompt-toolkit==3.0.43
pure-eval==0.2.2
Pygments==2.17.2
requests==2.31.0
setuptools==68.2.2
six==1.16.0
stack-data==0.6.3
tqdm==4.66.2
traitlets==5.14.2
typing_extensions==4.10.0
urllib3==2.2.1
wcwidth==0.2.13
wheel==0.41.2
kivy==2.3.0